# Dependencies
node_modules/

# Build Output
dist/
build/

# Environment Variables
.env
.env.local
.env.*.local
!.env.example

# Database temporary files
*.db-journal

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
